div {
	font-family: 'Oswald', sans-serif;
}

#welcome {
  color: white;
	font-size: 88px;
  z-index: 50;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#search {
	display: flex;
	justify-content: center;
}

.container {
  border: 1px solid black;
  width: 100%;
  height: 200px;
}

.container div {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  width: 33%;
  height: 100%;
  border: 1px solid blue;
}

.container div:first-child {
  margin-left: 0;
}


.container div.two {
  max-height: 100%;
  overflow: scroll;
}


body {
  margin: 0;
  padding: 0;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}


input {
  border: 1px solid;
  border-radius: 25px;
  width: 20%;
  outline: none;
  font-size: 25px;
}

::-webkit-input-placeholder{
  color: black;
  font-size: 20px;
}

.input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/*input[type=text]:focus {
    width: 50%;
    font-size: 50px;
    outline: none;
}*/

#check {
  width: 10px;
  color: white;
}

#radios {
  color: red;
  width: 20%;
  margin-left: -3%;
}

#login {
  width: 200px;
  margin-top: 10%;
  outline: none;
}

#loginForm {
  color: red;
}

#subButton {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border: 1px solid black;
  border-radius: 22px;
  text-shadow: 1px 1px 3px #b8a4b8;
  font-family: Arial;
  color: #ff0000;
  font-size: 20px;
  background: #ffffff;
  padding: 7px 22px 2px 19px;
  text-decoration: none;
}

#subButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#signIn {
  color: white;
  margin-left: 10px;
  text-decoration-style: none;
  text-decoration: none;

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}
#signUp {
  color: white;
  margin-left: 5px;
}
a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
#sign {
  display: flex;
  


}

